html{
    text-align: center; 
    background-color: #CAFAFE;
    color: #4D6D9A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    width: 100px;

}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0 auto;
}
h6{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
}
table{
    margin:0 auto;
    text-align: centre;
     
}
table tr:first-child {
    display:none;
  }
.headers{
    font-weight: bold;
}
/* #inputNBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  
#search {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
  }
  
#btn_display {
    width: 65px;
    height: 30px;
    background-color: #4f9cff;
    color: #b8ffff;
    border: none;
    border-radius: 10px;
  }  
footer{
    font-size: x-small;
    text-decoration: none;
    margin: 190px auto 30px;
}
@media only screen and (max-width: 600px) {
  * {
    zoom: 1.5;
  }
  h1 {
    font-size: 24px;
  }
  h6 {
    font-size: 14px;
  }
  table {
    font-size: 12px;
  }
  table td {
    padding: 5px;
  }
  #search {
    width: 80%;
    height: 25px;
    font-size: 12px;
  }
  #btn_display {
    width: 30%;
    height: 25px;
    font-size: 12px;
  }
  footer {
    font-size: 10px;
    margin: 10px auto 5px;
  }
}